.author {
    display: flex;
    align-items: center;
    gap: var(--space-2);
    color: var(--text-secondary);
}

.byline {
  font-size: var(--font-sm);
  font-weight: 500;
}

.author .follow-author {
    display: flex;
    align-items: center;
    gap: var(--space-1);
    font-size: var(--font-xs);
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}

.author .follow-author:hover {
    color: var(--primary);
}

.author .follow-author span {
    transform: translateY(1px);
}