/* src/components/Search.css */
.search {
    position: relative;
    display: flex;
    justify-content: center;
    transition: all 0.3s ease;
    padding: 0 var(--space-2);
    width: 90vw;
  }

  .search form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .search input {
    background-color: var(--background-light);
    width: 200px;
    padding: var(--space-2) var(--space-3);
    font-size: 1em;
    border: 1px solid var(--background-light);
    border-radius: var(--space-2);
    transition: width 0.3s ease, box-shadow 0.3s ease;
    max-width: calc(100% - 2 * var(--space-2));
  }
  
  /* When the search is focused, expand the width and add a subtle shadow */
  .search.focused input {
    width: 100%;
    
    /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); */
  }
  

  .search input:focus, .search input:active {
    outline: 1px solid var(--primary);
  }

  @media screen and (min-width: 768px) {
    .search {
      width: auto;
    }
    .search input { 
      max-width: auto;
    }
    .search.focused input {
      width: 400px;
    }
  }