:root {
  color-scheme: light dark;

  /* Colors */
  --primary: rgba(100, 108, 255, 1);
  --primary-light: rgba(100, 108, 255, 0.87);
  --primary-dark: rgba(83, 91, 242, 1);
  --secondary: rgb(77, 255, 64);
  --secondary-light: rgba(77, 255, 64, 0.87);
  --secondary-dark: rgba(77, 255, 64, 0.7);
  --text: rgba(255, 255, 255, 0.87);
  --text-secondary: rgba(255, 255, 255, 0.6);
  --background: rgba(36, 36, 36, 1);
  --background-light: rgba(47, 47, 47, 0.87);
  --background-dark: rgba(26, 26, 26, 1);

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  /* Typography */
  --font-xs: 0.6rem;
  --font-sm: 0.8rem;
  --font-md: 1rem;
  --font-lg: 1.2rem;
  --font-xl: 1.6rem;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Spacing */
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 1rem;
  --space-4: 2rem;
  --space-5: 4rem;
  --space-6: 8rem;
  max-width: 1280px;
  margin: 0 auto;
  padding: var(--space-3);
  box-sizing: border-box;
}

:root[data-theme="light"] {
  /* Colors light */
  --primary: rgba(100, 108, 255, 1);
  --primary-light: rgba(100, 108, 255, 0.87);
  --primary-dark: rgb(116, 123, 255, 1);
  --secondary: rgb(77, 255, 64);
  --secondary-light: rgba(77, 255, 64, 0.87);
  --secondary-dark: rgba(77, 255, 64, 0.7);
  --text: rgba(0, 0, 0, 0.87);
  --text-secondary: rgba(0, 0, 0, 0.6);
  --background: rgba(255, 255, 255, 1);
  --background-light: rgba(204, 204, 204, 0.87);
  --background-dark: rgba(249, 249, 249, 1);
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
  cursor: pointer;
}
a:hover {
  color: var(--primary-dark);
}

body,
html {
  font-size: var(--font-md);
  font-family: var(--font-family);
  line-height: var(--line-height);
  color: var(--text);
  background-color: var(--background) !important;
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--text);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--secondary-light) !important;
  color: var(--background);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--primary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.page-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  white-space: nowrap;
}

.results-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  gap: var(--space-3);
  flex-wrap: wrap;
}

@media (prefers-color-scheme: light) {
  a:hover {
    color: var(--primary-dark);
  }
  button {
    background-color: var(--background-dark);
  }
}
